






























/* https://qiita.com/nissuk/items/7d5545a9f6177ff965dc */
/** マーキーさせたい部分 */
.marquee[data-v-f9eeec0a] {
  overflow: hidden; /* スクロールバーが出ないように */
  position: relative; /* マーキーの内容部分の位置の基準になるように */
  height: 86px;
}
/* マーキーの内容部分の高さ確保 */
.marquee[data-v-f9eeec0a]::after {
  content: "";
  white-space: nowrap;
  display: inline-block;
}
/* マーキーさせたい部分(内側) */
.marquee > .marquee-inner[data-v-f9eeec0a] {
  position: absolute;
  top: 0;
  white-space: nowrap;
  animation-name: marquee-data-v-f9eeec0a;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
/* マウスオーバーでマーキーストップ */
.marquee > .marquee-inner[data-v-f9eeec0a]:hover {
  animation-play-state: paused;
  cursor: default;
}
/** マーキーアニメーション */
@keyframes marquee-data-v-f9eeec0a {
0% { left: 100%; transform: translate(0);
}
100% { left: 0; transform: translate(-100%);
}
}


.background {
  position : relative;
  overflow : hidden;
  width : 1920px;
  height: 1080px;
}
.crossfadeImg {
  position: absolute;
  top : 0;
  left : 0;
  bottom : 0;
  right : 0;
  opacity : 0;
  animation : crossfade 180s infinite;
}
.src2 {
  animation-delay  : 60s;
}
.src3 {
  animation-delay  : 120s;
}
@keyframes crossfade {
0% { opacity: 0;
}
0.5% { opacity: 1;
}
33.3% { opacity: 1;
}
33.8% { opacity: 0;
}
100% { opacity: 0;
}
}

